<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <main>
        <h3>Todo App Demo</h3>
        
        <section class="submission">
            <form action="/tasks/" method="post">
                <input type="text" name="task_name" required>
                <input type="submit">
            </form>
        </section>


        <section class="tasks">
            <ul>
                {% for task in tasks %}
                    <li>
                        <form action="/finish" method="post">
                            <input type="text" name="task_name" value="{{ task.name }}" readonly />
                            <input type="checkbox" name="is_task_completed"
                                {% if task.is_completed %}
                                checked
                                {% endif %}
                            disabled />
                            <input type="submit" value="Finish">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>