<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <header>
        <h1>Todo App Demo</h1>
    </header>
    <main>
        <section class="submission">
            <h3>Create a New Task</h3>
            <form class="submi" action="/tasks/" method="post">
                <input type="text" name="task_name" required>
                <input type="submit">
            </form>
        </section>


        <section class="tasks">
                {% for task in tasks %}
                    <div>
                        <form class="task" action="/finish" method="post">
                            <input type="text" name="task_name" value="{{ task.name }}" readonly />
                            <input type="checkbox" name="is_task_completed"
                                {% if task.is_completed %}
                                checked
                                {% endif %}
                            disabled />
                            <input type="submit" value="Finish">
                        </form>
                    </div>
                {% endfor %}
        </section>
    </main>
</body>
</html>