@import url('./reset.css');

:root {
    --light-pink: #ffb7e9;
    --normal-pink: #e993b2;
    --highlight-pink: #ff689f;

    --white: #eee;
    --black: rgba(10, 10, 10, .3);
}

body {
    background-color: var(--light-pink);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

main {
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 90vh;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.task {
    background-color: var(--normal-pink);
    border: 0.5em solid var(--white);
    box-shadow: 0.5em 0.5em var(--black);

    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em;
}
