@import url('./reset.css');

:root {
    --light-pink: #ffb7e9;
    --normal-pink: #e993b2;
    --highlight-pink: #ff689f;

    --white: #eee;
    --black: rgba(10, 10, 10, .3);
}

body {
    background-color: var(--light-pink);
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
}

main {
    display: flex;

    justify-content: space-around;
    align-items: center;

    height: 80vh;
}

.tasks {
    display: flex;
    flex-flow: wrap column;

    height: 100%;
}

.task {
    background-color: var(--normal-pink);
    border: 0.25em solid var(--white);
    box-shadow: 0.25em 0.25em var(--black);

    border-radius: 0.25em;
    padding: 0.5em;
    margin: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
}

.submission-form {
    display: flex;
    flex-direction: column;
}

.submission-form * {
    margin: 1em;
}


input {
    background: none;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.5s;    
    padding: 0.5em;
    font-size: 1rem;
}

input:focus {
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.5s;    
    background-color: var(--highlight-pink);
}

